:root {
	/* add base colors here */
	--main-color: rgb(255, 93, 23);
	--main-darker: rgb(119, 44, 12);
	--main-lighter: rgb(250, 162, 124);

	--dark-grey: rgb(37, 37, 37);
	--medium-grey: rgb(104, 104, 104);
	--light-grey: rgb(219, 219, 219);
	--white: rgb(255, 255, 255);
}
